@media only screen and (max-width: 760px) {
    #table-view {
        display: none;
    }

    #list-view {
        display: block !important;
    }
    .full-width-btn {
        background-color: #eef1f4 !important;
        width: 100% !important;
        border: 1px solid black !important;
        font-weight: bold !important;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}
